<div class="page">
  <header class="page__header">
    <h1 class="page__title">Get up to date draw odds for Big Game.</h1>
    <p class="page__subtitle">
      Sign up today.
    </p>
  </header>

  <section class="page__actions">
        <% if user_signed_in? %>
            <%= link_to "Dashboard", root_path, class: "button button--primary" %>
        <% else %>
            <%= link_to "Sign up", new_user_registration_path, class: "button button--primary button--contained" %>
            <%= link_to "Sign in", new_user_session_path, class: "button button--secondary" %>
        <% end %>
  </section>
</div>
