$colors: (
  orange: (
    050: #FFEFE6,
    100: #FFD3BA,
    200: #FAB38B,
    300: #EF8E58,
    400: #E67635,
    500: #C65D21,
    600: #AB4E19,
    700: #8C3D10,
    800: #77340D,
    900: #572508
  ),

  lime-green: (
    050: #F2FDE0,
    100: #E2F7C2,
    200: #C7EA8F,
    300: #ABDB5E,
    400: #94C843,
    500: #7BB026,
    600: #63921A,
    700: #507712,
    800: #42600C,
    900: #2B4005
  ),

  grey: (
    050: #F7F7F7,
    100: #E1E1E1,
    200: #CFCFCF,
    300: #B1B1B1,
    400: #9E9E9E,
    500: #7E7E7E,
    600: #626262,
    700: #515151,
    800: #3B3B3B,
    900: #222222
  )
);
