@import "../abstracts/typography";
@import "../themes/default";

.form {
//   max-width: 24rem;
    width: 100%;
  margin: 2rem auto;
  padding: 2rem;
  background: $bg-surface;
  border: 1px solid $border-default;
  border-radius: 12px;

  &__inline {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

  &__field {
    margin-bottom: 1rem;
    text-align: left;
    width: 100%;


      input {
            width: 100%;
            padding: 0.5rem 0.75rem;
            border: 1px solid $border-default;
            border-radius: 6px;
            font-size: 1rem;
        }

    select {
        min-width: 120px;
        height: 40px;
        padding: 12px 8px 12px 12px;
    }
  }

  label {
    display: block;
    font-size: $font-size-sm;
    margin-bottom: 0.25rem;
  }

  &__actions {
    margin-top: 1.5rem;
  }
}

