/* Abstracts (foundation first) */
@import "abstracts/variables";
@import "abstracts/colors";
@import "abstracts/functions";
@import "abstracts/spacing";
@import "abstracts/typography";

/* Theme */
@import "themes/default";

/* Base styles */
@import "base/body";
@import "base/fonts";
@import "base/typography";

/* Components */
@import "components/buttons";
@import "components/cards";
@import "components/form";
@import "components/page";
@import "components/navbar";
@import "components/alerts";
@import "components/feedback";

/* Layout */
@import "layout/container";
@import "layout/grid";

@import "dashboard";